.wrapper {
    box-shadow: inset 0 0 20px red;
    width: 800px;
    margin: 100px auto;
    text-align: center;
}

.fruit {
    background-color: gold;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
}

.fruit.lemon {
    background-color: antiquewhite;
}

.fruit.orange {
    background-color: orange;
}

.fruit.jamong {
    background-color: orangered;
}





/* .fruit:nth-child(1) {
    background-color: lemonchiffon;
}

.fruit:nth-child(2) {
    background-color: orange;
}

.fruit:nth-child(3) {
    background-color: orangered;
} */

/* .wrapper a.silver {
    background-color: silver;
}

.wrapper a.gold {
    background-color: gold;
    line-height: 200px;
    height: 400px;
}

.wrapper a.bronze {
    background-color: burlywood;
    height: 100px;
} */