header {
    height: 500;
}

h1 {
    background: skyblue;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

h1 .meta {
    width: 80px;
    height: 50px;
}

.join {
    width: 80px;
    height: 50px;
    text-decoration: none;
    font-size: 10px;
}

.join-icon {
    width: 20px;
    height: 20px;
}


main {
    width: 500px;
    height: 600px;
    background: salmon;
}

h2 {
    text-decoration: underline palevioletred;
}

.meta2 {
    width: 300px;
    height: 100px;
}

.email {}

.btn-login {
    width: 200px;
    height: 50px;
    color: white;
    background: black;
}