.menu {}

.btn1,
.soldout,
.btn2,
.btn3,
.btn4,
.btn5 {
    width: 94px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}



.sec1 strong {
    width: 70px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--blue, #6327FE);
    color: #fff;
    font-size: 12px;
    padding: 5px 16px 5px 15px;
}


.menu {
    margin: auto;
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f";
}

.btn1 {
    grid-area: a;
    border: 3px solid var(--blue, #6327FE);
}

.soldout {
    grid-area: b;
}

.btn2 {
    grid-area: c;
}

.btn3 {
    grid-area: d;
}

.btn4 {
    grid-area: e;
    border: 3px solid var(--blue, #6327FE);
}

.btn5 {
    grid-area: f;
}

.balance {
    width: 200px;
    height: 33px;
    flex-shrink: 0;
    fill: #EAE8FE;
}